body {
  margin: 0px;
}

a {
text-decoration: none;
}

header {
  text-align: center;
  background: black;
  color: white;
  padding: 10px 0px;
}

header h1 {
  margin: 0px;
}

.contenedor-principal {
  height: 100%;
}

.contenedor-principal .nav-bar{
  background-color: slategray;
  padding: 15px 0px;
  width: 100%;
  height: 5%;
  display: inline-flex;
}

.contenedor-principal .nav-bar .logo {
  width: 50%;
  color: white;
  padding-left: 8%;
}

.contenedor-principal .nav-bar nav{
  width: 50%;
  text-align: right;
  padding-right: 8%;
}

.contenedor-principal .nav-bar nav a{
  padding: 10px 10px;
  color: white;
}

.contenedor-principal .nav-bar nav i{
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: none;
}

.contenedor-principal .nav-bar nav a:hover{
  color: rgb(10, 43, 0);
}

.contenedor-principal .contenedor-cuerpo {
}

.contenedor-principal .contenedor-cuerpo .sidebar{
  width: 25%;
  background: radial-gradient(ellipse at center, #5B7DB1 0%, rgb(66, 128, 156) 100%);
  height: 100%;
  display: table-cell;
  text-align: center;
}

.contenedor-principal .contenedor-cuerpo .sidebar .titulo{
  color: rgb(255, 248, 248);
}

.contenedor-principal .contenedor-cuerpo .sidebar a {
  padding: 10px 0px;
  display: block;
  color: rgb(255, 255, 255);
}

.contenedor-principal .contenedor-cuerpo .sidebar a:hover {
  color: #1f2667;
  background-color: rgb(255, 255, 255);
}

.contenedor-principal .contenedor-cuerpo .contenido{
  margin-left: 25%;
  text-align: center;
  display: table-cell;
}

.contenedor-principal .contenedor-cuerpo .contenido .home{
  background: #3E2C41;
  padding-bottom: 20px;
  padding: 15px 0px 50px 0px;
}

.contenedor-principal .contenedor-cuerpo .contenido .home h1{
  color: rgb(236, 236, 236);
}

.contenedor-principal .contenedor-cuerpo .contenido .home p{
  margin: 0px;
  color: rgb(238, 238, 238);
}

.contenedor-principal .contenedor-cuerpo .contenido #peliculas{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px black solid;
  background: radial-gradient(ellipse at center, #6f6397 0%, #5C527F 100%);;
}

.contenedor-principal .contenedor-cuerpo .contenido #peliculas .pelicula{
  width: 130px;
  height: auto;
  text-align: center;
  border: 2px black solid;
  margin: 20px 10px;
  background: radial-gradient(ellipse at center, #261C2C 0%, #1b131f 100%);
  color: aliceblue;
}

.contenedor-principal .contenedor-cuerpo .contenido #peliculas .pelicula img{
  width: 130px;
}

.contenedor-principal .contenedor-cuerpo .contenido #peliculas .pelicula p{
  border-top: 1px rgb(255, 255, 255) solid;
}

footer {
  text-align: center;
  background-color: #6E85B2;
  color: white;
}

footer h2{
  margin: 0px;
}

footer .content-footer {
  display: inline-flex;
}

footer .content-footer .legal {
  width: 160px;
}

footer .content-footer .legal p {
  text-align: left;
}

footer .content-footer .contacto {
  width: 160px;
}

footer .content-footer .contacto a {
  color: rgb(29, 48, 0);
  display: block;
  padding: 10px 0px;
}

footer .content-footer .contacto a:hover {
  color: rgb(58, 88, 8);
}

@media screen and (max-width: 700px) {
  .contenedor-principal .nav-bar nav i{
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: inline-block;
  }

  /*haceer con esto*/
  .contenedor-principal .nav-bar .active i{
    display: none;
  }
  
  .contenedor-principal .nav-bar nav a{
    display: none;
  }
}